@font-face {
    font-family: 'HoengseongHanu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/HoengseongHanu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,body{
    font-family: 'HoengseongHanu';
    margin: 0;
    display:column;
}

.sidebar{
    background: black;
    width: 10%;
    height: 250px; 
    position: sticky;
    top: 0;
    float: right;
}

a{
    text-decoration:none;
    color: white;
}

li{
    list-style:none;
    list-style-type:none;
}

.header {
    height: 80px;
    background: lightgrey;
    text-align: center;
    position: fixed;
    width: 100%;

}

.soge {
    width: 100%;
    background: #f5f5f5;
    margin: 0%;
    padding: 0%;
    text-align: center;
    
}

footer {
    background: #333;
    height: 200px;
}


.img_{
    width: 55em;
    height: 44em;
    margin:auto;
    display: flex;

}

.soge2 {
    width: 100%;
    background: lightslategrey;
    margin: 0%;
    padding: 0%;
    text-align: center;
    
}

.img__{
    width: 40em;
    height: 30em;
    margin:auto;
    margin-top: 2em;
    display: flex;

}

